
nav{
    background-color:black;
    padding-top:0.2px;
    padding-bottom:18px;
    position: sticky;
}
nav h2{
  padding-left: 50px; 
   color:transparent;
   background:linear-gradient(to right,blue, orange, green);
   background-clip:text;
}
#red{
    color: red;
}
.iconmain{
    margin-top: -20px;
    margin-left:80%;
}
.iconmain a{
    color:rgb(143, 155, 155);
    padding-left: 15px;
    transition: transform 0.2s ease, color 0.2s ease;
}
.iconmain a:hover{
    color:gold;
     transform: scale(1.2);
     display: inline-block; 
}
.about{
    display:inline;
    padding-left: 40px;
}
#itemmain{
    margin-left:400px;
     margin-top: -40px;
}
#itemmain a{
    text-decoration:none;
     list-style: none;
     color: rgb(143, 155, 155);
}
#itemmain a:hover{
    color: white;
    transform: scale(1.1);
    display: inline-block;
}
section{
   position:relative; 
    background: radial-gradient(circle at top center,
                black 0%,
                rgb(93, 2, 2) 70% );
                background-attachment: fixed;
    padding-top: 40px;
    padding-bottom:100px;
   
}
article{
    margin-top: 120px;
    margin-left:270px;
    color: rgb(178, 181, 185);
}
article i{
    margin-left:10px;
    color:rgb(163, 159, 159);
}
article i:hover{
    color:greenyellow;
    transform: scale(1.3);
}
article h1{
     color:transparent;
   background:linear-gradient(to right,blue, orange, green);
   background-clip:text;
}
.profile{
    position: absolute;
    margin-left:50%;
    width:150px;
    height :150px;
    margin-top:-200px;
    border-radius:50%;
    box-shadow: 2px 2px 4px yellow;
}
#buttonmain{
    background-color:transparent;
    padding-left:10px;
    margin-left:10px;
    border-radius:50%;
    box-shadow:0px 0px 6px white;
}
#buttonmain:hover{
    transform: scale(1.1);
    box-shadow:0px 0px 8px rgb(3, 243, 223);
}
#buttonmain a{
    color: red;
    text-decoration: none;
    list-style:none;
}
#foot1{
    background-color: black;
    color: white;
}
