
nav{
    background-color:black;
    padding-top:0.2px;
    padding-bottom:18px;
    position: sticky;
}
nav h2{
  padding-left: 50px; 
   color:transparent;
   background:linear-gradient(to right,blue, orange, green);
   background-clip:text;
}
#red{
    color: red;
}
.iconmain{
    margin-top: -20px;
    margin-left:80%;
}
.iconmain a{
    color:rgb(143, 155, 155);
    padding-left: 15px;
    transition: transform 0.2s ease, color 0.2s ease;
}
.iconmain a:hover{
    color:gold;
     transform: scale(1.2);
     display: inline-block; 
}
.about{
    display:inline;
    padding-left: 40px;
}
#itemmain{
    margin-left:400px;
     margin-top: -40px;
}
#itemmain a{
    text-decoration:none;
     list-style: none;
     color: rgb(143, 155, 155);
}
#itemmain a:hover{
    color: white;
    transform: scale(1.1);
    display: inline-block;
}
#myproject{
    text-align: center;
    color:rgb(158, 154, 154);
}
#myproject:hover{
     color: white;
     transform: scale(1.1);
}
#flex1{
    display: flex;
}
#sub1{
    text-align: center;
    color: rgb(159, 154, 154);
    margin: 20px;
    box-shadow: 2px 2px 4px greenyellow;
    width:40%;
    margin-left:30px;
    padding-top:5px;
    padding-bottom:8px;
}
#sub2{
    text-align: center;
    color:rgb(159, 154, 154);
    margin: 20px;
    box-shadow: 2px 2px 4px greenyellow;
    width:30%;
    margin-left:12%;
     padding-top:5px;
    padding-bottom:8px;
}
section{
   position:relative; 
    background: radial-gradient(circle at top center,
                black 0%,
                rgb(93, 2, 2) 70% );
                background-attachment: fixed;
    padding-top: 40px;
    padding-bottom:55px;
}
section i{
    color: gold;
}
#flex1:hover{
    transform: scale(1.01);
}
#sub1:hover{
    color: white;
     background: linear-gradient(125deg,rgb(255, 0, 0),rgb(5, 114, 231));
     transition:0.07s;
     transform: scale(1.01);
}
#sub2:hover{
    color: white;
     background: linear-gradient(125deg,rgb(255, 0, 0),rgb(5, 114, 231));
     transition:0.07s;
     transform: scale(1.01);
}
.b1{
    background-color: rgb(240, 89, 245);
    border-radius:15%;
    box-shadow:2px 2px 3px white;
}
.b1 a{
    color: black;
    background-color:transparent;
    text-decoration: none;
    list-style: none;
}
#foot1{
    background-color: black;
    color: white;
}

   


